{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css', 'easyadmin.assets.package') }}">
    <style>
        body {
            align-items: center;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        .form-login {
            max-width: 320px;
            text-align: center;
            width: 100%;
        }
        .form-login input {
            position: relative;
        }
        .form-login input[name="_username"] {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: -1px;
        }
        .form-login input[name="_password"] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .form-login input:focus {
            z-index: 1;
        }
    </style>
{% endblock %}

{% block body %}
    <form class="form-login" action="{{ path('app_login') }}" method="post">
        <img class="mb-3" src="{{ asset('favicon.svg') }}" alt="Personal Accountant" width="72" height="72">
        <h1 class="mb-3">Personal Accountant</h1>

        {% if error %}
            <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <label class="sr-only" for="username">Username</label>
        <input class="form-control w-100 py-2" type="text" id="username" name="_username" placeholder="Username" value="admin" required autofocus>

        <label class="sr-only" for="password">Password</label>
        <input class="form-control w-100 py-2" type="password" id="password" name="_password" placeholder="Password" value="Q1w2e3r4" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <label>
                <input type="checkbox" name="_remember_me" checked>
                Keep me logged in
            </label>
        #}

        <button class="btn btn-primary w-100 mt-3 py-4 fs-5 justify-content-center">Login</button>

        <p class="mt-5 mb-3 text-muted">
            <a
                class="text-decoration-underline link-primary link-underline-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                href="https://github.com/vchychuzhko/personal-accountant"
                target="_blank"
            >View on GitHub</a>
            &copy; Vladyslav Chychuzhko
        </p>
    </form>
{% endblock %}
