{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Analyze{% endblock %}

{% block head_stylesheets %}
{{ parent() }}
<style>
.table tr:has(a[aria-expanded="true"]) {
    box-shadow: -2px 0 0 var(--color-primary);
}
a[aria-expanded="false"] .hide {
    display: none;
}
a[aria-expanded="true"] .show {
    display: none;
}
a[aria-expanded="true"] .hide {
    display: inline;
}
.collapsing {
    transition: none;
}
.collapse:not(.show) {
    display: none !important;
}
.collapse.show {
    box-shadow: -2px 0 0 var(--color-primary);
}
.collapse table tr:last-of-type {
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block page_actions %}
<select
    class="form-select w-auto me-2"
    aria-label="Month"
    {{ stimulus_controller('analyze_month') }}
    {{ stimulus_action('analyze_month', 'change', 'change') }}
>
    {% for index, month in months %}
        <option
            value="{{ month.id }}"
            {{ index == 0 ? 'selected' : '' }}
        >
            {{ month.title }}
        </option>
    {% endfor %}
</select>
<select
    class="form-select w-auto"
    aria-label="Currency"
    {{ stimulus_controller('analyze_currency') }}
    {{ stimulus_action('analyze_currency', 'change', 'change') }}
>
    {% for currency in currencies %}
        <option
            value="{{ currency.code }}"
            data-rate="{{ currency.rate }}"
            data-format="{{ currency.format }}"
            {{ currency.code == 'USD' ? 'selected' : '' }}
        >
            {{ currency.code }}
        </option>
    {% endfor %}
</select>
{% endblock %}

{% block main %}
<div class="tab-content">
    {% for index, month in months %}
        <div class="tab-pane{% if index == 0 %} show active{% endif %}" id="{{ month.id }}" role="tabpanel">
            <div class="row row-gap-3">
                <div class="col-md-4">
                    <h2>
                        Expenses:
                        <span data-price="{{ month.total_expenses }}">{{ month.total_expenses | price }}</span>
                    </h2>
                    <h4>
                        <a href="{{ month.payments_url }}">
                            Payments:
                            <span>{{ month.payments_count }}</span>
                        </a>
                    </h4>
                    <div class="row">
                        <div class="col-12">{{ render_chart(month.expenses_by_tag_chart) }}</div>
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table datagrid">
                        <thead>
                        <tr>
                            <th data-column="name"><span>Name</span></th>
                            <th class="{{ sort_by == 'payments' ? 'sorted' : '' }}" data-column="payments">
                                <a href="{{ ea_url().set('sort', 'payments') }}">
                                    Payments
                                    <twig:ea:Icon name="{{ sort_by == 'payments' ? 'internal:sort-arrow-down' : 'internal:sort-arrows' }}" />
                                </a>
                            </th>
                            <th class="{{ sort_by == 'total' ? 'sorted' : '' }}" data-column="total">
                                <a href="{{ ea_url().set('sort', 'total') }}">
                                    Total
                                    <twig:ea:Icon name="{{ sort_by == 'total' ? 'internal:sort-arrow-down' : 'internal:sort-arrows' }}" />
                                </a>
                            </th>
                            <th>
                                <span class="visually-hidden">Actions</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in month.tags %}
                            {% set tagCollapsibleId = month.id ~ '_' ~ tag.name | lower %}
                            <tr>
                                <td data-column="name" data-label="Name">{{ tag.name }}</td>
                                <td data-column="payments" data-label="Payments">
                                    <a href="{{ tag.payments_url }}">{{ tag.payments | length }} payment(s)</a>
                                </td>
                                <td data-column="total" data-label="Total" data-price="{{ tag.total }}">
                                    {{ tag.total | price }}
                                </td>
                                <td class="actions">
                                    <a
                                        data-bs-toggle="collapse"
                                        href="#{{ tagCollapsibleId }}"
                                        role="button"
                                        aria-expanded="false"
                                        aria-controls="{{ tagCollapsibleId }}"
                                    >
                                        <span class="show">Expand</span>
                                        <span class="hide text-danger">Hide</span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="collapse" id="{{ tagCollapsibleId }}">
                                <td data-label="Payments" colspan="5">
                                    <table class="table datagrid">
                                        <thead>
                                        <tr>
                                            <th data-column="name"><span>Name</span></th>
                                            <th data-column="balance"><span>Balance</span></th>
                                            <th class="sorted" data-column="Amount">
                                                <span>
                                                    Amount
                                                    <twig:ea:Icon name="internal:sort-arrow-down" />
                                                </span>
                                            </th>
                                            <th data-column="created_at"><span>Created At</span></th>
                                            <th>
                                                <span class="visually-hidden">Actions</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="shadow-none">
                                        {% for payment in tag.payments %}
                                            <tr>
                                                <td data-label="Name">{{ payment.name }}</td>
                                                <td data-label="Balance">{{ payment.balance }}</td>
                                                <td data-label="Amount" data-price="{{ payment.amountInUsd }}">{{ payment.amountInUsd | price }}</td>
                                                <td data-label="Created At"><time datetime="{{ payment.createdAt|date('c') }}" title="{{ payment.createdAt|date('r') }}">{{ payment.createdAt|date('d-m-Y H:i') }}</time></td>
                                                <td class="actions">
                                                    <a href="{{ ea_url()
                                                        .unsetAll()
                                                        .setController('App\\Controller\\Admin\\PaymentCrudController')
                                                        .setAction('detail')
                                                        .setEntityId(payment.id)
                                                    }}">
                                                        Show
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
