{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block main %}
<div class="row">
    <div class="col-8">
        {{ render_chart(chart) }}
    </div>
    <div class="col-4">
        <h2>Total: ${{ total }}</h2>
        <hr>
        <p>Incomes this month: ${{ incomes_this_month }}</p>
        <p>Expenses this month: ${{ expenses_this_month }}</p>
        <p>Diff this month: <strong>${{ diff_this_month }}</strong></p>
        <hr>
        <p class="text-secondary">Total in loans: ${{ total_in_loans }}</p>
    </div>
</div>
{% endblock %}
