{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block main %}
<div class="row">
    <div class="col-8">
        <ul class="nav nav-pills justify-content-center">
            {% for index, chart in main_charts %}
                <li class="nav-item">
                    <button
                        class="nav-link{% if index is same as(0) %} active{% endif %}"
                        data-bs-toggle="tab" data-bs-target="#{{ chart.id }}" role="tab"
                    >
                        {{ chart.title }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for index, chart in main_charts %}
                <div class="tab-pane{% if index is same as(0) %} show active{% endif %}" id="{{ chart.id }}" role="tabpanel">
                    {{ render_chart(chart.chart) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <h2>Total: {{ total }}</h2>
        <p class="text-secondary">Total in deposits: {{ total_in_deposits }}</p>
        <hr>
        <p>Incomes this month: {{ incomes_this_month }}</p>
        <p>Expenses this month: {{ expenses_this_month }}</p>
        <p>Diff this month: <strong>{{ diff_this_month }}</strong></p>
        <hr>
        <p class="text-secondary">Total in loans: {{ total_in_loans }}</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        {{ render_chart(assets_by_balance_chart) }}
    </div>
    <div class="col-4">
        {{ render_chart(assets_by_currency_chart) }}
    </div>
    <div class="col-4">
        {{ render_chart(expenses_by_tag_chart) }}
    </div>
</div>
{% endblock %}
