{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block main %}
<div class="row">
    <div class="col-8" {{ stimulus_controller('tabs') }}>
        <ul class="nav nav-pills justify-content-center">
            {% for index, chart in main_charts %}
                <li class="nav-item">
                    <button
                        class="nav-link{% if index is same as(0) %} active{% endif %}"
                        {{ stimulus_action('tabs', 'switch', 'click', { 'tab': chart.id }) }}
                        {{ stimulus_target('tabs', 'switch') }}
                    >
                        {{ chart.title }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for index, chart in main_charts %}
                <div class="tab-pane fade{% if index is same as(0) %} show active{% endif %}" {{ stimulus_target('tabs', 'tab') }} data-tab="{{ chart.id }}">
                    {{ render_chart(chart.chart) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <h2>Total: ${{ total }}</h2>
        <hr>
        <p>Incomes this month: ${{ incomes_this_month }}</p>
        <p>Expenses this month: ${{ expenses_this_month }}</p>
        <p>Diff this month: <strong>${{ diff_this_month }}</strong></p>
        <hr>
        <p class="text-secondary">Total in deposits: ${{ total_in_deposits }}</p>
        <p>Expected deposit profit: ${{ expected_deposit_profit }}</p>
        <hr>
        <p class="text-secondary">Total in loans: ${{ total_in_loans }}</p>
    </div>
</div>
{% endblock %}
