{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (field.value is empty) %}
    <span>-</span>
{% elseif (ea.crud.currentAction == 'index') %}
    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\BalanceCrudController')
        .setAction('index')
        .set('filters[currency][value]', entity.primaryKeyValue)
        .set('filters[currency][comparison]', '=')
    }}">
        {{ field.value | length }} balance(s)
    </a>
{% else %}
    <ul class="ps-3 mb-0">
        {% for balance in field.value %}
            <li>
                <a href="{{ path('admin', {
                    crudControllerFqcn: 'App\\Controller\\Admin\\BalanceCrudController',
                    crudAction: 'detail',
                    entityId: balance.id
                }) }}">
                    {{ balance }} - {{ balance.amount | price(balance.currency.format) }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
