{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (ea.crud.currentAction == 'index') or (field.value is empty) %}
    <span>{{ field.value | length }} balance(s)</span>
{% else %}
    <ul style="padding-left: 15px;">
        {% for balance in field.value %}
            <li>
                <a href="{{ path('admin', {
                    crudControllerFqcn: 'App\\Controller\\Admin\\BalanceCrudController',
                    crudAction: 'detail',
                    entityId: balance.id
                }) }}">
                    {{ balance.name }} - {{ balance.amount }} {{ balance.currency }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
