{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (field.value is empty) %}
    <span>-</span>
{% elseif (ea().crud.currentAction == 'index') %}
    <a href="{{ ea_url()
        .unsetAll()
        .setController('App\\Controller\\Admin\\InvestmentCrudController')
        .setAction('index')
        .set('filters[currency][value]', entity.primaryKeyValue)
        .set('filters[currency][comparison]', '=')
    }}">
        {{ field.value | length }} investment(s)
    </a>
{% else %}
    <table class="table datagrid">
        <thead>
        <tr>
            <th data-column="name"><span>Name</span></th>
            <th data-column="share"><span>Share</span></th>
            <th data-column="price"><span>Price</span></th>
            <th data-column="value"><span>Value</span></th>
            <th><span class="visually-hidden">Actions</span></th>
        </tr>
        </thead>
        <tbody>
        {% for investment in field.value %}
            <tr>
                <td data-column="name" data-label="Name">{{ investment.name }}</td>
                <td data-column="share" data-label="Share">{{ investment.share }}</td>
                <td data-column="price" data-label="Price">{{ investment.price | price(investment.currency.format) }}</td>
                <td data-column="value" data-label="Value">{{ investment.value | price(investment.currency.format) }}</td>
                <td class="actions">
                    <a href="{{ ea_url()
                        .unsetAll()
                        .setController('App\\Controller\\Admin\\InvestmentCrudController')
                        .setAction('detail')
                        .setEntityId(investment.id)
                    }}">
                        Show
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
