{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (field.value is empty) %}
    <span>No loans</span>
{% elseif (ea.crud.currentAction == 'index') %}
    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\LoanCrudController')
        .setAction('index')
        .set('filters[currency][value]', entity.primaryKeyValue)
        .set('filters[currency][comparison]', '=')
        .unset('entityId')
    }}">
        {{ field.value | length }} loan(s)
    </a>
{% else %}
    <ul style="padding-left: 15px; margin-bottom: 0;">
        {% for loan in field.value %}
            <li>
                <a href="{{ path('admin', {
                    crudControllerFqcn: 'App\\Controller\\Admin\\LoanCrudController',
                    crudAction: 'detail',
                    entityId: loan.id
                }) }}">
                    {{ loan.person }} - {{ loan.amount }} {{ loan.currency }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
