{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (field.value is empty) %}
    <span>-</span>
{% elseif (ea.crud.currentAction == 'index') %}
    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\LoanCrudController')
        .setAction('index')
        .set('filters[currency][value]', entity.primaryKeyValue)
        .set('filters[currency][comparison]', '=')
    }}">
        {{ field.value | length }} loan(s)
    </a>
{% else %}
    <ul class="ps-3 mb-0">
        {% for loan in field.value %}
            <li>
                <a href="{{
                    ea_url()
                        .setController('App\\Controller\\Admin\\LoanCrudController')
                        .setAction('detail')
                        .setEntityId(loan.id)
                }}">
                    {{ loan }} - {{ loan.amount | price(loan.currency.format) }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
