{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (ea.crud.currentAction == 'index') or (field.value is empty) %}
    <span>{{ field.value | length }} loan(s)</span>
{% else %}
    <ul style="padding-left: 15px; margin-bottom: 0;">
        {% for loan in field.value %}
            <li>
                <a href="{{ path('admin', {
                    crudControllerFqcn: 'App\\Controller\\Admin\\LoanCrudController',
                    crudAction: 'detail',
                    entityId: loan.id
                }) }}">
                    {{ loan.person }} - {{ loan.amount }} {{ loan.currency }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
